/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

main {
    height: calc(100% - 175px);
    background-color: var(--zm-main);
    padding-top: 1rem;
}

/* #endregion Common */

/* #region Utilities */
:root {
    --zm-main: rgba(0, 0, 0, 1);
    --zm-foot: rgba(34, 34, 34, 1);
    --zm-success: rgba(75, 200, 0, 1);
    --zm-username: rgba(74, 74, 74, 0.8);
    --zm-utils: rgba(74, 74, 74, 1);
    --zm-alert: rgba(224, 39, 37, 1);
    --zm-font-light: rgba(255, 255, 255, 1);
}

.container {
    max-width: 90%;
    height: calc(100vh - 175px);
    margin: auto;
    overflow-y: auto;
}

.sp-bt {
    justify-content: space-between;
}

.flex-wrap{
    flex-wrap: wrap
}

.user>img {
    border-radius: 3px;
    margin-bottom: 0.5rem;
}

.d-flex{
    display: flex;
}

.ml-05{
    margin-left: 0.5rem;
}

/* #endregion Utilities */

/* #region Debug */
.col .debug {
    width: 100px;
    height: 80px;
    background-color: yellow;
}

/* #endregion Debug */
/* BONUS */
.utils a:hover {
    text-decoration: underline;
    background-color: rgb(37, 37, 37);
}

/* #region Header */
header {
    height: 75px;
    background-color: var(--zm-main);
    width: 100%;
    top: 0;
    left: 0;
}

.utils {
    display: inline;
    width: auto;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    position: absolute;
    top: 5px;
    right: 5px;

}

.utils a {
    text-decoration: none;
    background-color: var(--zm-utils);
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    color: var(--zm-font-light);
}


/* #endregion Header */
/* #region Main */

/* #endregion Main */
.user{
    padding: 0 0.3rem;
    position: relative;
}

.username{
    position: absolute;
    z-index: 1;
    bottom: 15px;
    color: var(--zm-font-light);
    background-color: var(--zm-username);
    padding: 0.2rem 0.2rem;
    font-size: 12px;
}
/* #region Footer */
footer {
    height: 100px;
    background-color: var(--zm-foot);
}

.foot-icon-cont{
    max-width: 100%;
    padding: 1rem 0;
}
.row{
    align-items: center;
    color: var(--zm-font-light);
        
}

.foot-icon-cont i{
    font-size: 30px;   
    padding-left: 1rem;
    padding-right: 1rem;    
}



.function{
    
}

.media .fa-angle-up, .chat .fa-angle-up{
    font-size: 16px;
    padding-left: 0;
}

h4{
    margin: 0;
    display: inline;
}
/* #endregion Footer */